.bg-hero{
    background-image: url(https://ik.imagekit.io/Mylab/foodmunch-banner-bg.png?updatedAt=1735459507850);
    height:100vh;
    background-size:cover;
    background-repeat: no-repeat;
}

